{% load cms_tags sekizai_tags menu_tags static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <title>{% page_attribute "page_title" %}</title>
  {% render_block "css" %}
</head>

<body>
  {% cms_toolbar %}
  <ul class="menu">
    {% show_menu 0 100 100 100 %}
  </ul>
  {% placeholder "content" %} {% render_block "js" %}
  <script src="{% static 'js/jquery-3.6.0.slim.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>